.button {
  height: 50px;
  padding: 0 25px;
  font: inherit;
  color: $color-white;
  cursor: pointer;
  background: $color-accent;
  border: none;
  border-radius: 6px;
  transition: 0.25s;

  &:hover {
    background: mix($color-accent, $color-white, 88%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-light-blue, 0.8);
  }
}
