.todo-edit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background: rgba($color-black, 0.3);
  opacity: 0;
  transition: 0.35s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.todo-edit__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  margin: auto;
  background: $color-white;
  border-radius: 11px;
}

.todo-edit__title {
  margin: -7px 0 22px;
  font-size: 24px;
}

.todo-edit .todo__input {
  margin: 0 0 20px;
}

.todo-edit__save {
  margin-right: auto;
}

.todo-edit__hint {
  align-self: center;
  font-size: 16px;
  opacity: 0.6;
}

.todo-edit__close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 6px;
  transition: 0.25s;

  &:hover {
    background-color: $color-grey-3;
  }
}
