$color-black: #000;
$color-accent: #2563eb;
$color-light-blue: #93c5fd;
$color-white: #fff;
$color-red: #fb3e3e;
$color-grey: #999;
$color-grey-2: #d6d9df;
$color-grey-3: #f1f3f4;
$color-grey-4: #ccc;
