@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Nunito-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Nunito-Bold.woff2') format('woff2');
  font-display: swap;
}
